name: Performance  test

on:
  workflow_dispatch:
    inputs:
      environment_name:
        type: environment
        description: 'Choose environment'      
      num_of_threads:
        description: 'Number of threads (end-user clients)'
        required: false
        default: '3'
      num_of_certs:
        description: 'Number of certificates per thread'
        required: false
        default: '5'
      algorithm:
        description: 'Key algorithms'
        type: choice
        required: true
        default: 'RSA:2048'
        options:
          - RSA:1024
          - RSA:2048
          - RSA:3072
          - RSA:4096
          - EC:P-256
          - EC:P-384
          - ED25519  
      ca_name:
        description: 'CA to issue the certificates'
        required: true
        default: ''
      cert_profile:
        description: 'CA profile name'
        required: true
        default: ''
      enduser_profile:
        description: 'Enduser profile name'
        required: true
        default: ''
      subject_dn:
        description: 'Subject DN'
        required: true
        default: '/CN=enduser#/O=enduser#_org/C=PT'

permissions:
  contents: write  # Required to push changes to gh-pages
  pages: write     # Required to update GitHub Pages      

jobs:
  setup-runner:
    name: Setup runner for deploy
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment_name }}
    outputs:
      deployrunner: ${{ steps.step1.outputs.deployrunner }}
    steps:
      - name: Set runs-on for deploy
        id: step1
        run: |
          echo "deployrunner=${{ inputs.environment_name }}" >> $GITHUB_OUTPUT

  run-jmeter:    
    needs: [setup-runner]
    environment: ${{ inputs.environment_name }}
    runs-on: ${{needs.setup-runner.outputs.deployrunner}}
    name: Run jmeter on -${{needs.setup-runner.outputs.deployrunner}}-
    env:
      runnerLabels: ${{needs.setup-runner.outputs.deployrunner}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: CSR script customization
        run: |
          chmod +x tests/create_csr.sh

      - name: Install JMeter 5.6.3
        run: |
          mkdir jmeter; cd jmeter          
          curl -o apache-jmeter-5.6.3.tgz https://dlcdn.apache.org//jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xvzf apache-jmeter-5.6.3.tgz   
      
      - name: Configure JMeter with EJBCA keystore
        run: |
          echo "$(pwd)"
          echo "$(ls jmeter)"
          JMETER_PROPERTIES_FILE="$GITHUB_WORKSPACE/jmeter/apache-jmeter-5.6.3/bin/system.properties"
          grep -q "^javax.net.ssl.keyStoreType=" "$JMETER_PROPERTIES_FILE" || echo "javax.net.ssl.keyStoreType=pkcs12" >> "$JMETER_PROPERTIES_FILE"
          grep -q "^javax.net.ssl.keyStore=" "$JMETER_PROPERTIES_FILE" || echo "javax.net.ssl.keyStore=${{ vars.EJBCA_P12_KEYSTORE_FILE }}" >> "$JMETER_PROPERTIES_FILE"
          grep -q "^javax.net.ssl.keyStorePassword=" "$JMETER_PROPERTIES_FILE" || echo "javax.net.ssl.keyStorePassword=${{ secrets.EJBCA_KEYSTORE_PASS }}" >> "$JMETER_PROPERTIES_FILE"

      - name: Generate Unique Identifier
        id: generate-id
        run: echo "RUN_ID=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_ENV

      - name: Show variables
        run: |
          echo "Running on ${{ env.runnerLabels }} with variables ${{ vars.EJBCA_HOSTNAME }} and ${{ vars.EJBCA_PORT }}"
  
    #run jmeter test plan:
      - name: Run JMeter Test Plan
        run: |
          $GITHUB_WORKSPACE/jmeter/apache-jmeter-5.6.3/bin/jmeter -n -t $GITHUB_WORKSPACE/tests/ejbca-performance-test.jmx \
          -l test-results-${RUN_ID}.jtl \
          -Jthread_count=${{ inputs.num_of_threads }} \
          -Jramp_up_period=1 \
          -Jloop_count=${{ inputs.num_of_certs }} \
          -Jhost_name=${{ vars.EJBCA_HOSTNAME }} \
          -Jhost_port=${{ vars.EJBCA_PORT }} \
          -Jcert_profile_name=${{ inputs.cert_profile }} \
          -Jend_user_name=${{ inputs.enduser_profile }} \
          -Jalgorithm=${{ inputs.algorithm }} \
          -Jca_name=${{ inputs.ca_name }} \
          -Jsubject_dn=${{ inputs.subject_dn }} \
          -e -o report-${RUN_ID}
          if [ $? -ne 0 ]; then
            echo "JMETER_RETURNVALUE=1" >> $GITHUB_ENV
          fi
          cd $GITHUB_WORKSPACE
          echo "$(pwd)"
          echo "$(ls)"
          echo "$(cat test-results-${RUN_ID}.jtl)"
          failures=$(jq '.Total.errorCount' report-${RUN_ID}/statistics.json)          
          echo "JMETER_RETURNVALUE=$failures" >> $GITHUB_ENV
        env:
          RUN_ID: ${{ env.RUN_ID }}

      - name: Save JMeter Report
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-report-${{ env.RUN_ID }}
          path: report-${{ env.RUN_ID }}
  
#      - name: Publish to GitHub Pages
#        uses: peaceiris/actions-gh-pages@v3
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_dir: report-${{ env.RUN_ID }}

    #publish jmeter report:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v3
        with:
          path: repo
          ref: gh-pages  # gh-pages branch

      - name: Copy JMeter Report to gh-pages directory
        run: |
          mkdir -p repo/reports/${RUN_ID}_${{ inputs.algorithm }}_on_${{ env.runnerLabels }}
          cp -r report-${RUN_ID}/* repo/reports/${RUN_ID}_${{ inputs.algorithm }}_on_${{ env.runnerLabels }}/
            
      - name: Generate Index File
        run: |
          cd repo
          echo "<!DOCTYPE html>" > index.html
          echo "<html><head><title>Reports</title></head><body><h1>Reports List</h1><ul>" >> index.html
          for folder in $(ls -d reports/*/); do
            folder_name=$(basename $folder)
            echo "<li><a href='reports/$folder_name/index.html'>$folder_name</a></li>" >> index.html
          done
          echo "</ul></body></html>" >> index.html              

      - name: Commit and Push Reports to gh-pages
        run: |
          cd repo
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add reports/${RUN_ID}_${{ inputs.algorithm }}_on_${{ env.runnerLabels }}
          git add index.html
          git commit -m "Add JMeter report for ${RUN_ID}_${{ inputs.algorithm }}_on_${{ env.runnerLabels }}"
          git push origin gh-pages

      - name: Run final exit check
        run: |
          if [ "$JMETER_RETURNVALUE" -ne 0 ]; then
            echo "Job failed due to JMeter test failures."
            exit 1
          fi
  
